{% extends 'base.html' %}

{% block head %}
<title>Add Face</title>
{% endblock %}

{% block body %}
	<h2>Add Face</h2>
    {% if msg%}
    <p> {{msg}}</p>
    {% endif %}
    <p>Click or upload your photo with clearly visible Face!</p>
    
    <form action="/addface" method="POST", enctype="multipart/form-data">
    <label>Click Image</label>
    <input type="file" accept="image/*" capture="camera" name="image" id="image">
    
    <button type="submit">Upload Image</button>
    
    </form>
    

{% endblock %}