{% extends 'base.html' %}

{% block head %}
<title>Add Face</title>
{% endblock %}

{% block body %}   
    <div class="container">
		<div class="row">
		  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
			  <div class="card-body">
				<h5 class="card-title text-center">Add your Face</h5>
				<form class="form-signin" action="/addface" method="POST", enctype="multipart/form-data">
				  <div class="form-label-group">
					<input type="file" id="image" class="form-control" name="image" accept="image/*" capture="camera" required autofocus >
				  </div>
				  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Upload Image</button>
				  {% if msg %}
				  <br>
				  <p>{{msg}}</p>
				  {% endif %}
					
				  <hr class="my-4">
				  Click image with clear focus on Face.
				</form>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
    

{% endblock %}