{% extends 'base.html' %}

{% block head %}
<title>Edit Profile</title>
{% endblock %}

{% block body %}
<h2>Edit Profile</h2>
<hr>

<form action="/editprofile" method='POST'>
    <span>Username : </span><input type="text" placeholder="Username" value={{face.userName}} name="userName" id="userName"><br>
    <span>Name : </span><input type="text" placeholder="Name" value={{face.name}} name="name" id="name"><br>
    <span>UPI ID : </span><input type="text" placeholder="UPI ID" value={{face.upiId}} name="upiId" id="upiId"><br>
    <span>Contact Number : </span><input type="tel" placeholder="Contact Number" value={{face.contactNumber}} name="contactNumber" id="contactNumber"><br>
    <span>Email ID : </span><input type="email" placeholder="Email ID" value={{face.emailId}} name="emailId" id="emailId"><br>
    <span>Company : </span><input type="text" placeholder="Company" value={{face.company}} name="company" id="company"><br>
    <span>Address : </span><input type="text" placeholder="Address" value={{face.address}} name="address" id="address"><br>
    <span>Facebook URL : </span><input type="url" placeholder="Facebook URL" value={{face.fb_url}} name="fb_url" id="fb_url"><br>
    <span>Instagram handle : </span><input type="text" placeholder="Instagram handle" value={{face.insta_handle}} name="insta_handle" id="insta_handle"><br>
    <span>Twitter : </span><input type="text" placeholder="Twitter handle" value={{face.twitter}} name="twitter" id="twitter"><br>
    <input type="submit" value="Save">
</form>

<hr>

{% endblock %}