{% extends 'base.html' %}

{% block head %}
<title>HOME</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Logged Out</h5>
            <form class="form-signin">
              <p class="text-center">Log in to continue</p>
              <a style="text-decoration: none;" href="/login">
                <div class="btn btn-lg btn-primary btn-block text-uppercase">Continue</div>
                </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block script%}
    <script>
        
        document.cookie = "Email =  ; expires = Thu, 01 Jan 1970 00:00:00 GMT";
        document.cookie = "CUI =  ; expires = Thu, 01 Jan 1970 00:00:00 GMT";
        document.cookie = "UN =  ; expires = Thu, 01 Jan 1970 00:00:00 GMT";


    </script>
{% endblock%}